<nav id="navigation" class="row align-center gap-top-bottom">

	<a href="https://itunes.apple.com/us/app/credntia/id928731223?mt=8" class="button app-download" target="_blank">Download</a>
	<nav class="social gap-top-bottom">

		<a href="https://facebook.com/credntia" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/facebook.svg" | relative_url }}" alt="Facebook Logo">
		</a>
		<a href="https://twitter.com/credntia" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/twitter.svg" | relative_url }}" alt="Twitter Logo">
		</a>
		<a href="https://www.instagram.com/credntiaapp" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/instagram.svg" | relative_url }}" alt="Instagram Logo">
		</a>
		<a href="https://www.linkedin.com/company/credntia" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/linked-in.svg" | relative_url }}" alt="LinkedIn Logo">
		</a>
		<a href="https://medium.com/@credntia" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/medium.svg" | relative_url }}" alt="Medium Logo">
		</a>
		<a href="https://angel.co/credntia" target="_blank" class="social svg">
			<img class="socialImage" src="{{ "/assets/images/angel.svg" | relative_url }}" alt="Angel List Logo">
		</a>

	</nav>
</nav>
