@font-face {
	font-family: 'FreightSansPro';
    font-weight: normal;
    font-style: normal;
	src: url('freightsans-medium.woff');
}

@font-face {
	font-family: 'FreightSansPro';
    font-weight: bold;
    font-style: normal;
	src: url('freightsans-semibold.woff');
}

@font-face {
	font-family: 'CircularStd';
    font-weight: normal;
    font-style: normal;
	src: url('CircularStd-Bold.woff');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.woff') format('woff'),
		 url('fontawesome-webfont.woff2') format('woff2');
}