@font-face {
	font-family: 'FreightSansPro';
    font-weight: normal;
    font-style: normal;
	src: url('fonts/freightsans-medium.woff');
}

@font-face {
	font-family: 'FreightSansPro';
    font-weight: normal;
    font-style: italic;
	src: url('fonts/freightsans-medium-italic.woff');
}

@font-face {
	font-family: 'FreightSansPro';
    font-weight: bold;
    font-style: normal;
	src: url('fonts/freightsans-semibold.woff');
}

@font-face {
	font-family: 'FreightSansPro';
    font-weight: bold;
    font-style: italic;
	src: url('fonts/freightsans-semibold-italic.woff');
}

@font-face {
	font-family: 'CircularStd';
    font-weight: normal;
    font-style: normal;
	src: url('fonts/CircularStd-Bold.woff');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.woff') format('woff'),
		 url('fonts/fontawesome-webfont.woff2') format('woff2');
}