---
---

$color-white: #FFFFFF;
$color-dark-grey: #4B4C4C;
$color-blue: #4FB4FE;


$font-family-logo-text: "CircularStd", sans-serif;
$font-family-text: "FreightSansPro", sans-serif;
$font-family-social-icons: "FontAwesome";

$font-size-text-h1: 42px;
$font-size-text-h2: 33px;
$font-size-text-h3: 30px;
$font-size-text-h4: 27px;
$font-size-text-h5: 24px;
$font-size-text-h6: 20px;
$font-size-text-body: 21px;

$font-size-text-title: 50px;
$font-size-text-footer: 17px;


$header-height: 160px;
$logo-height: 160px;
$content-max-width: 688px;


@charset "utf-8";
@import 'fonts';
@import 'defaults';
@import 'media';


// base
// ----

.logo {
	height: $logo-height;
}

/* layout */
.wrapper {
	min-height: 100vh;
}

/* header */
.page-header {
	height: $header-height;
}

/* content */
.content {
	max-width: $content-max-width;
	margin: 0 auto;
	min-height: 38vh;
}

.title {
	font-size: $font-size-text-title;
}

.copyright {
	font-size: $font-size-text-footer;
}

/* buttons */
.button {
	background: $color-blue;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 auto;
	color: $color-white;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 40px;
}

#navigation .button {
	margin-right: 40px;
}

/* social icons */
.socialImage {
	width: 24px;
	height: 24px;
	color: $color-dark-grey;
	margin: 0 10px;
	display: inline-block;
}

/* social */
.social {
	margin: 0 10px;

	a {
		font-family: $font-family-social-icons;
		font-size: 24px;
		margin: 0 5px;
		color: $color-dark-grey;
		display: inline-block;
		text-align: center;
		cursor: pointer;
		transition: color .3s ease-in;
		-moz-transition: color .3s ease-in;
		-o-transition: color .3s ease-in;
		-webkit-transition: color .3s ease-in;
	}

	a:hover {
		color: $color-blue;
	}
}

/* text layout */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

/* layout */

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-static {
	position: static;
}

.gap {
	padding: 40px;
	box-sizing: border-box;
}

.gap-top-bottom {
	padding: 40px 0;
	box-sizing: border-box;
}

.gap-left-right {
	padding: 0 40px;
	box-sizing: border-box;
}

.gap-top {
	padding-top: 40px;
	box-sizing: border-box;
}

.gap-right {
	padding-right: 40px;
	box-sizing: border-box;
}

.gap-bottom {
	padding-bottom: 40px;
	box-sizing: border-box;
}

.gap-left {
	padding-left: 40px;
	box-sizing: border-box;
}

.small-gap {
	padding: 20px;
	box-sizing: border-box;
}

.small-gap-top-bottom {
	padding: 20px 0;
	box-sizing: border-box;
}

.small-gap-left-right {
	padding: 0 20px;
	box-sizing: border-box;
}

.small-gap-top {
	padding-top: 20px;
	box-sizing: border-box;
}

.small-gap-right {
	padding-right: 20px;
	box-sizing: border-box;
}

.small-gap-bottom {
	padding-bottom: 20px;
	box-sizing: border-box;
}

.small-gap-left {
	padding-left: 20px;
	box-sizing: border-box;
}

/* grids */
.row {
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.column {
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.grid-item {
	margin: 0 10px 0 0;
}

.grid-full {
	flex: 0 0 calc(100% - 20px);
}

.grid-one-half {
	flex: 0 0 calc(50% - 20px);
}

.grid-one-third {
	flex: 0 0 calc(33.3333% - 20px);
}

.grid-two-thirds {
	flex: 0 0 calc(66.66% - 20px);
}

.grid-one-quarter {
	flex: 0 0 calc(25% - 20px);
}

.no-space .grid-full {
	flex: 0 0 100%;
}

.no-space .grid-one-half {
	flex: 0 0 50%;
}

.no-space .grid-one-third {
	flex: 0 0 33.3333%;
}

.no-space .grid-two-thirds {
	flex: 0 0 66.6666%;
}

.no-space .grid-one-quarter {
	flex: 0 0 25%;
}

.align-right {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.align-center {
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.align-justify-center {
	justify-content: center;
	-webkit-justify-content: center;
}

.align-justify {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
}

.align-spaced {
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
}

.align-top {
	align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
}

.align-self-top {
	align-self: flex-start;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
}

.align-bottom {
	align-items: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
}

.align-self-bottom {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.align-middle {
	align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
}

.align-self-middle {
	align-self: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
}

.align-stretch {
	align-items: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
}

.align-self-stretch {
	align-self: stretch;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
}

.pin-top {
	position: absolute;
	top: 0;
}

.pin-right {
	position: absolute;
	right: 0;
}

.pin-left {
	position: absolute;
	left: 0;
}

.pin-top-left {
	position: absolute;
	left: 0;
	top: 0;
}

.pin-top-center {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	top: 0;
}

.pin-top-right {
	position: absolute;
	right: 0;
	top: 0;
}

.pin-middle-left {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	top: 50%;
}

.pin-middle-center {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.pin-middle-right {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	top: 50%;
}

.pin-bottom-left {
	position: absolute;
	left: 0;
	bottom: 0;
}

.pin-bottom-center {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
}

.pin-bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.pin-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pin-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.clear::before,
.clear::after {
	content: '';
	display: block;
	clear: both;
}
