/*
Filename: main.css
Written By: Jesse Winton
*/

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

p {
	padding-bottom: 30px;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe, object, embed {
	max-width: 100%;
}

/* basic setup */
body {
	background: #fff;
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	font-family: 'Freight', sans-serif;
	font-weight: 500;
	font-size: 21px;
	color: #4b4c4c;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Freight';
	font-weight: 600;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 27px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #4fb4fe;
}

b,
strong {
	font-weight: 600;
}

i,
em {
	font-style: italic;
}

.logo {
	width: 160px;
}

/* layout */
.wrapper {
	min-height: 100vh;
}

/* header */
.page-header {
	height: 150px;
}

/* content */
.content {
	max-width: 700px;
	margin: 0 auto;
	min-height: 38vh;
}

.title {
	font-size: 50px;
}

.copyright {
	font-size: 17px;
}

@media screen and (max-width: 414px) {
	.content h1 {
		line-height: 1.5;
	}

	.copyright {
		margin-top: -80px;
	}
}

/* buttons */
.button {
	background: #4fb4fe;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 auto;
	color: #fff;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 40px;
}

#navigation .button {
	margin-right: 40px;
}

/* social icons */
.socialImage {
	width: 24px;
	height: 24px;
	color: #4b4c4c;
	margin: 0 10px;
	display: inline-block;
}

/* social */
.social {
	margin: 0 10px;
}

.social a {
    font-family: 'FontAwesome';
	font-size: 24px;
	margin: 0 5px;
	color: #4b4c4c;
	display: inline-block;
	text-align: center;
	cursor: pointer;
    transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
}

.social a:hover {
	color: #4fb4fe;
}

@media screen and (max-width: 414px) {
	#navigation.row {
		flex-direction: column;
	}

	#navigation .button {
		margin: 0;
	}
}

/* text layout */
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

/* layout */
.border {
	border: 1px solid #ddd !important;
}

.border-top {
	border-top: 1px solid #ddd !important;
}

.border-right {
	border-right: 1px solid #ddd !important;
}

.border-bottom {
	border-bottom: 1px solid #ddd !important;
}

.border-left {
	border-left: 1px solid #ddd !important;
}

.position-relative {
	position: relative;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-static {
	position: static;
}

.gap {
	padding: 40px;
	box-sizing: border-box;
}

.gap-top-bottom {
	padding: 40px 0;
	box-sizing: border-box;
}

.gap-left-right {
	padding: 0 40px;
	box-sizing: border-box;
}

.gap-top {
	padding-top: 40px;
	box-sizing: border-box;
}

.gap-right {
	padding-right: 40px;
	box-sizing: border-box;
}

.gap-bottom {
	padding-bottom: 40px;
	box-sizing: border-box;
}

.gap-left {
	padding-left: 40px;
	box-sizing: border-box;
}

.small-gap {
	padding: 20px;
	box-sizing: border-box;
}

.small-gap-top-bottom {
	padding: 20px 0;
	box-sizing: border-box;
}

.small-gap-left-right {
	padding: 0 20px;
	box-sizing: border-box;
}

.small-gap-top {
	padding-top: 20px;
	box-sizing: border-box;
}

.small-gap-right {
	padding-right: 20px;
	box-sizing: border-box;
}

.small-gap-bottom {
	padding-bottom: 20px;
	box-sizing: border-box;
}

.small-gap-left {
	padding-left: 20px;
	box-sizing: border-box;
}

/* grids */
.row {
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.column {
	margin: 0 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
}

.wrap {
	flex-wrap: wrap;
}

.grid-item {
	margin: 0 10px 0 0;
}

.grid-full {
	flex: 0 0 calc(100% - 20px);
}

.grid-one-half {
	flex: 0 0 calc(50% - 20px);
}

.grid-one-third {
	flex: 0 0 calc(33.3333% - 20px);
}

.grid-two-thirds {
	flex: 0 0 calc(66.66% - 20px);
}

.grid-one-quarter {
	flex: 0 0 calc(25% - 20px);
}

.no-space .grid-full {
	flex: 0 0 100%;
}

.no-space .grid-one-half {
	flex: 0 0 50%;
}

.no-space .grid-one-third {
	flex: 0 0 33.3333%;
}

.no-space .grid-two-thirds {
	flex: 0 0 66.6666%;
}

.no-space .grid-one-quarter {
	flex: 0 0 25%;
}

@media screen and (max-width: 414px) {
	.grid-one-half,
	.grid-one-third,
	.grid-one-quarter,
	.grid-one-fifth {
		display: block;
		width: 100%;
		margin: 0 auto;
		flex: none;
		margin-bottom: 50px;
	}
}

.align-right {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.align-center {
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
}

.align-justify-center {
	justify-content: center;
	-webkit-justify-content: center;
}

.align-justify {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
}

.align-spaced {
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
}

.align-top {
	align-items: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
}

.align-self-top {
	align-self: flex-start;
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
}

.align-bottom {
	align-items: flex-end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
}

.align-self-bottom {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}

.align-middle {
	align-items: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
}

.align-self-middle {
	align-self: center;
	-webkit-align-self: center;
	-ms-flex-item-align: center;
}

.align-stretch {
	align-items: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
}

.align-self-stretch {
	align-self: stretch;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
}

.pin-top {
	position: absolute;
	top: 0;
}

.pin-right {
	position: absolute;
	right: 0;
}

.pin-left {
	position: absolute;
	left: 0;
}

.pin-top-left {
	position: absolute;
	left: 0;
	top: 0;
}

.pin-top-center {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	top: 0;
}

.pin-top-right {
	position: absolute;
	right: 0;
	top: 0;
}

.pin-middle-left {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	top: 50%;
}

.pin-middle-center {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.pin-middle-right {
	position: absolute;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	top: 50%;
}

.pin-bottom-left {
	position: absolute;
	left: 0;
	bottom: 0;
}

.pin-bottom-center {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	left: 50%;
	bottom: 0;
}

.pin-bottom-right {
	position: absolute;
	right: 0;
	bottom: 0;
}

.pin-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pin-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.border-top {
	border-top: 1px solid #ddd;
}

.border-right {
	border-top: 1px solid #ddd;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.border-left {
	border-left: 1px solid #ddd;
}

.clear::before,
.clear::after {
	content: '';
	display: block;
	clear: both;
}

@font-face {
	font-family: 'Freight';
	font-weight: 500;
	src: url('freightsans-medium.woff');
}

@font-face {
	font-family: 'Freight';
	font-weight: 600;
	src: url('freightsans-semibold.woff');
}

@font-face {
	font-family: 'FontAwesome';
	src: url('fontawesome-webfont.woff') format('woff'),
		 url('fontawesome-webfont.woff2') format('woff2');
}
